body{
	margin: 0;
}

.first{
height: 200px;
background: #E6F1F4;

}
.article{

position:absolute;
right:120px;
top:10px; 

}
.article1{
    position: absolute;
    right: 50px;
top:10px; 

}
.logo{

position:absolute;
right:180px;
top:0; 
}
.third{

margin:0;
height:500px;
width:100%;


}
.content1{
height:30px;
margin-left:900px;
margin-top:-50px;
font-size:15px;

}
.content2{
margin:0;
height:30px;
margin-left:900px;
font-size:15px;
}
.second  {
height: 50px;
width:100%;
background: #002247;
}

.article input {
background-color:#008DA9;
cursor:pointer;
color:white;
}
.article1 input{
background-color:#008DA9;
cursor:pointer;
color:white;
}

.second ul {
margin:0;
}
.second  {
margin-top:-50px;
font-family: tahoma;
font-size:12px;
min-height:10px;
}

.second ul{
margin:0px;
list-style:none;
}
.second ul li {
float: left;

}
.second > ul >li{
float:left;
margin-left:30px;
margin-right: 25px;
background-color:#002247;
font-size:20px;
padding:10px,20px;
position:relative;
}
.second ul li a {
color: white;
text-decoration: none;
text-transform:capitalize;
display:block;
}
.second ul li:hover a {
color: yellow;
background:#002247;
}

 }
 .second:after {
 content: ' ';
 clear: both;
 display: block;
 }
 .second ul .anything a {
 background: #313540;   
 }
 .second ul ul {
 
 padding-left:0;
 background:#002247;
 position:absolute;
 top:100%;
 left:0;
 min-width:120px;
 display:none;
 min-height:80px;
 }
 .second ul li:hover >ul{
   display: block;
 }
 .second ul ul li:hover a {
 background: rgb(99, 174, 255);
 min-width:120px;
 }
.second ul ul ul:hover a{
background: blue;
  
}

.second ul ul li{
position: relative;
display:block;
}

.second ul ul ul {
left:100%;
top:0;
}

.second ul ul ul li:hover a {
background:rgb(0, 103, 214);
}
.content u+ b {
background:blue;
}

.Search{
margin-left:400px;
width:100px;;
margin-top:-50px;
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

body{
	margin: 0;
}

.first{
height: 200px;
background: #E6F1F4;

}
.article{

position:absolute;
right:120px;
top:10px; 

}
.article1{
    position: absolute;
    right: 50px;
top:10px; 

}
.logo{

position:absolute;
right:180px;
top:0; 
}
.third{

margin:0;
height:500px;
width:100%;


}
.content1{
height:30px;
margin-left:900px;
}
.content2{
margin:0;
height:30px;
margin-left:900px;
}
.second  {
height: 50px;
width:100%;
background: #002247;
}

.article input {
background-color:#008DA9;
cursor:pointer;
color:white;
}
.article1 input{
background-color:#008DA9;
cursor:pointer;
color:white;
}

.second ul {
margin:0;
}
.second  {
margin-top:-50px;
font-family: tahoma;
font-size:12px;
min-height:10px;
}

.second ul{
margin:0px;
list-style:none;
}
.second ul li {
float: left;

}
.second > ul >li{
float:left;
margin-left:30px;
margin-right: 25px;
background-color:#002247;
font-size:20px;
padding:10px,20px;
position:relative;
}
.second ul li a {
color: white;
text-decoration: none;
text-transform:capitalize;
display:block;
}
.second ul li:hover a {
color: yellow;
background:#002247;
}

 }
 .second:after {
 content: ' ';
 clear: both;
 display: block;
 }
 .second ul .anything a {
 background: #313540;   
 }
 .second ul ul {
 
 padding-left:0;
 background:#002247;
 position:absolute;
 top:100%;
 left:0;
 min-width:120px;
 display:none;
 min-height:80px;
 }
 .second ul li:hover >ul{
   display: block;
 }
 .second ul ul li:hover a {
 background: rgb(99, 174, 255);
 min-width:120px;
 }
.second ul ul ul:hover a{
background: blue;
  
}

.second ul ul li{
position: relative;
display:block;
}

.second ul ul ul {
left:100%;
top:0;
}

.second ul ul ul li:hover a {
background:rgb(0, 103, 214);
}
.content u+ b {
background:blue;
}

.Search{
margin:0;
margin-left:500px;
width:100%;
margin-top:-50px;
}

